:host {
    display: block;
    overflow: visible;
    width: 100%;
    font-family: Roboto;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 56px;
    background: #1074CC !important;
}

.header_content {
    width: 100%;
    flex: 1 0 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1.2px;

    &::first-letter {
        color: red;
    }
}

.header_area {
    position: relative;
    display: flex;
    height: 100%;
}

.header_navigation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    a {
        color: white;
        text-decoration: none;
    }
}

.header_search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 2;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    height: 48px;

    input {
        padding: 0 20px;
        width: 100%;
    }
}

.header_input {
    width: 100%;
    height: 48px;
    border-radius: 4px;
}

.header_zoom {
    display: flex;
    align-items: center;
    height: 100%;
}

.header_profil {
    display: flex;
    justify-content: flex-end;
}

.header_navigation__hide {
    display: flex;
}

.show-on-mobile {
    display: none !important;
}

.header_burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-left: 8px;
    z-index: 10;
}


@media (max-width: 414px) {
    .header_navigation__hide {
        display: none !important;
    }

    .header_area {
        position: inherit;
        flex: 1 1 auto;
        justify-content: flex-end;
    }

    .show-on-mobile {
        display: inline-flex !important;
    }

    .header_burger {
        display: flex;
    }


    .header_search {
        top: 0;
        transform: none;
        padding: 0 10px;
        background: #fff;
        width: 100%;
        height: 56px;
        z-index: 10;
        gap: 20px;

        mat-icon.mat-icon.notranslate.material-icons.mat-ligature-font.mat-icon-no-color {
            color: #000;
        }
    }

    .header_input {
        background: #F5F5F5;
        border-radius: 10px;
        height: 48px;
    }
}