<div class="mobile-menu" [class.open]="isOpen()" (mouseleave)="toggleMenuBurger(false)">
    <a mat-button (click)="toggleMenuBurger()">
        <mat-icon>link</mat-icon> Ссылки
    </a>
    <a mat-button (click)="toggleMenuBurger()">
        <mat-icon>person</mat-icon> Контакты
    </a>
    <a mat-button (click)="toggleMenuBurger()">
        <mat-icon>assistant</mat-icon> Теги
    </a>
    <a mat-button (click)="toggleMenuBurger()">
        <mat-icon>star_border</mat-icon> Избранное
    </a>
    <a mat-button (click)="toggleMenuBurger()">
        <mat-icon>history</mat-icon> Поощрения
    </a>
</div>